<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/build/homepage.css') }}">
    <link rel="stylesheet" type="text/css" href="https://www.google.com/fonts#UsePlace:use/Collection:Montserrat:700,400">
  </head>
  <body>
    <div class="header">
      <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Redditflo">
    </div>
    <div class="login">Logged in as blah</div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <div class="menu-triangle"></div>
          <img class="menu-icon" src="{{ url_for('static', filename='hamburger.png') }}" alt="Redditflo">
        </div>
        <div class="back">
          <div class="menu-buttons">
            <button class="menu-button home">Home</button>
            <button class="menu-button friends">Friends</button>
            <button class="menu-button profile">Profile</button>
            <button class="menu-button logout">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div id="main"></div>
    <!-- scripts - Go at the bottom for faster rendering-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Helpers -->
    <script src="{{ url_for('static', filename='scripts/js/reddit.js') }}"></script>
    <!-- React Componenets -->
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
  </body>
</html>
