<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="">

      </div>
    </div>
    <div class="container">
      <div id="main"></div>
    </div>
    <!-- scripts - Go at the bottom for faster rendering-->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- React Componenets -->
    <!--<script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>-->
  </body>
</html>