primary-color = #3a99d9
primary-dark = #296B98
primary-light = #75B8E4
secondary-color = #454e58
secondary-dark = #30373E
secondary-light = #7D838A
ternary-color = #FFB347
ternary-dark = #CC8F39
ternary-light = #FFC26C
light-gray = #cfcfcf
eggshell = #FEFEF2
coral-red = #FF4040
light-red = #FF7979
medium-gray = #b3b3b3
pastel-green = #77dd77

space-micro = .25rem
space-small = .5rem
space = 1rem
space-medium = space * 1.5
space-large = space * 2
space-x-large = space * 2.5

nudge = .1rem

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

body
  padding 0
  margin 0
  top 0
  left 0
  font-family 'Montserrat', sans-serif !important

button
  background-color primary-color
  border none
  color white
  font-size space*.8
  cursor pointer
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-family 'Montserrat', sans-serif !important

button:hover
  background-color primary-dark

button:focus
  outline none

input[type=text], input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px primary-light;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid primary-light;
}

.header
  background-color secondary-color
  width 100%
  height space-x-large
  position fixed
  line-height space-x-large
  vertical-align middle
  padding-right space * 10
  color white
  min-width 550px
  box-shadow 0 4px 2px -2px secondary-light
  top 0
  z-index 1000000

.login
  color white
  vertical-align middle
  font-size space*.7
  margin-left space-small
  float left

.login-link
  color white
  background-color primary-color
  text-decoration none
  padding space*.8
  padding-left space*2
  padding-right space*2
  line-height space * 3

.container
  padding-top space-x-large
  padding-left space * 10
  padding-right space * 10
  min-width 550px

.logo
  height space-x-large
  float left
  margin-left space*10

.menu-icon
  height space-x-large
  position fixed
  padding-top space
  padding-left space

.menu-button
  width 100%
  height space-x-large
  font-size space*.8

.menu-triangle
  position fixed
  display inline-block
  border-top space*10 solid primary-color
  border-right space*10 solid transparent

.menu-buttons
  width 100%
  background-color secondary-dark
  horizontal-align center

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  z-index: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width space*10
}

/* flip speed goes here */
.flipper {
  transition: 0.2s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.search-box
  width 100%
  text-align center
  margin-top space*6

.search-text
  line-height space-large
  vertical-align middle
  font-size space
  margin-bottom nudge
  width space * 30

.search-submit
  height space-x-large
  width space * 4
  margin-top nudge

.title
  font-size space-medium
  color ternary-color

.outer-login
  background-color secondary-color
  width 100%
  height 100%
  position fixed
  vertical-align middle
  text-align center
  padding-top space*10

.login-logo
  width space * 20

.login-button
  width space * 5
  height space-large

.login-field
  width space * 20
  height space-large
  font-size space

.card-blue
  border-bottom 3px solid primary-color

.card-orange
  border-bottom 3px solid ternary-color

.card-error
  border-bottom 3px solid coral-red

.card-success
  border-bottom 3px solid pastel-green

.feed-item
  width 100%
  clear both
  margin space
  padding space-small
  background white
  -webkit-transition all 250ms
  -moz-transition all 250ms
  transition all 250ms
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-height space*8
  &:hover
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-transform translateY(-1px)
    -moz-transform translateY(-1px)
    transform translateY(-1px)

.feed-title
  font-size space*1.2
  padding 0
  padding-bottom 0
  margin-bottom - space

.user-info, .user-error
  clear both
  margin space auto
  padding space-small
  width space*33
  horizontal-align center
  background white
  -webkit-transition all 250ms
  -moz-transition all 250ms
  transition all 250ms
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-transform translateY(-1px)
    -moz-transform translateY(-1px)
    transform translateY(-1px)

.user-info
  cursor pointer

.sort-buttons
  position fixed
  right 0
  top 0
  z-index 1000000
  color white

.sort-by
  font-size space*.85
  margin-right space-small

.sort-button
  width space*3.5
  height space*2.5
  horizontal-align center
  &.focus
    background-color primary-dark

.arrows
  width 3rem
  horizontal-align center
  position absolute
  vertical-align middle

.content
  width calc(100%-3rem)
  margin-left 3rem
  margin-top - space-small
  margin-bottom space-small

.upper-content
  margin-bottom space
  border-bottom 1px solid light-gray
  padding-bottom space-small

.author
  font-size space*.8
  margin-top - space

.main-content
  font-size space*.9
  color secondary-color
  overflow-x auto

.subreddit
  font-size space*.8

.up-arrow, .down-arrow
  height space-medium
  padding space-micro

.up-arrow:hover
    cursor pointer

.arrow-button
  background-color white
  &.arrow-button:hover
    background-color ternary-color
  &.pressed
    background-color ternary-color

.loading
  color white

.loading-gif
  height space*15
  margin-top - space*5

.no-click
  pointer-events none

.dropzone-inner
  width space*10
  height space*10

.dz-default
  width space*9

.dropzone
  width space*10
  height space*10
  margin space
  float left

.dropzone:hover
  box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.profile-info
  padding space
  padding-left space-x-large
  padding-top space*4

.subscription-info
  color secondary-color
  font-size space * 0.7
  padding space-small space
  .subscription-info-section-subreddit
    border-bottom 1px solid ternary-light
    margin-bottom space-small
  .subscription-info-section-user
    border-bottom 1px solid primary-light
    margin-bottom space-small
  .title-text
    font-weight bold

.username
  font-size space-medium
  margin-bottom space-small

.profile-content
  width 100%
  display inline-block

.profile-card
  width space*30
  margin space
  &.follow
    float left
  &.subreddit
    float left

.follow-card, .subreddit-card
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

.profile-card-inner
  max-height space*24
  overflow auto

.profile-title
  font-size space*1.2
  padding space*.75

.underline
  width space*30
  display inline-block

.subscription-container
  height space*3
  border-bottom 1px solid light-gray
  border-top 1px solid light-gray
  line-height space*3
  vertical-align middle
  padding-left space
  cursor pointer

.sub-name
  float left
  font-size space

.sub-x
  float right

.cancel-icon
  width space
  height space
  border-left 1px solid light-gray
  padding space
  &:hover
    background-color light-red

.webview
  margin-left space*2
  margin-right - space

.sub-content
  margin-top - space
  margin-left space*2
  margin-right - space
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

.loading-feed
  width 100%
  height 100%
  color black
  position fixed
  color medium-gray
  background-color light-gray
  horizontal-align center
  vertical-align middle
  z-index 100000
  padding-left: calc(50% - 200px);

.loading-content
  width 400px
  margin-top space*8
  horizontal-align center

.loading-icon
  margin-top - space*4

.loading-text
  margin-left 166px

.user-sort
  top 0
  position fixed
  margin-top space*2.5
  right 0
  width space*15
  max-height space*15
  border 1px solid light-gray
  background-color white
  z-index 1000

.dynamic-items
  max-height space*10
  overflow-y auto
  max-width 100%
  overflow-x hidden

.user-sort-item, .user-sort-input
  width 100%
  height space*2.5
  line-height space*2.5
  vertical-align middle
  padding-left space

.user-sort-item:hover
  background-color secondary-color
  color white
  cursor pointer

.user-sort-input
  border none
  font-size space
  box-shadow none
  color primary-dark
  appearance none
  &:focus
    border-bottom 1px solid primary-color
    outline none

.subscription-info.loading-subscription
  width 100%
  horizontal-align middle
  text-align center

.loading-small
  height space*10
  margin - space*3

.nav-buttons
  margin-right - space
  margin-left space*2
  padding-bottom space*4

.nav-button
  width space*6
  height space*2.5
  background-color primary-color

.right
  float right

.left
  float left

.score
  width space*2.3
  text-align center
  horizontal-align middle

