primary-color = #3a99d9
primary-dark = #296B98
primary-light = #75B8E4
secondary-color = #454e58
secondary-dark = #30373E
secondary-light = #7D838A
ternary-color = #FFB347
ternary-dark = #CC8F39
ternary-light = #FFC26C

space-micro = .25rem
space-small = .5rem
space = 1rem
space-medium = space * 1.5
space-large = space * 2
space-x-large = space * 2.5

nudge = .1rem

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body
	padding 0
	margin 0
	top 0
	left 0
	font-family 'Montserrat', sans-serif

button
	background-color primary-color
	border none
	color white
	font-size space*.8
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

button:hover
	background-color primary-dark

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px primary-light;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid primary-light;
}

.header
	background-color secondary-color
	width 100%
	height space-x-large
	position fixed
	line-height space-x-large
	vertical-align middle
	padding-left space * 10
	padding-right space * 10
	color white
	min-width 768px

.login
	height space-x-large
	position fixed
	right 0
	margin-right space * 10
	width space * 5

.container
	padding-top space-x-large
	margin-left space * 10
	margin-right space * 10
	min-width 768px

.logo
	height space-x-large

.menu-icon
	height space-x-large
	position fixed
	padding-top space
	padding-left space

.menu-button
	width 100%
	height space-x-large
	font-size space*.8

.menu-triangle
	position fixed
	display inline-block
	border-top space*10 solid primary-color
	border-right space*10 solid transparent

.menu-buttons
	width 100%
	background-color secondary-dark
	horizontal-align center

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width space*10
	height: space * 20
}

/* flip speed goes here */
.flipper {
	transition: 0.2s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.search-box
	margin-top - space*10
	padding-left calc(50% - 17rem)

.search-text
	line-height space-large
	vertical-align middle
	font-size space
	margin-bottom nudge
	width space * 30

.search-submit
	height space-x-large
	width space * 4
	margin-top nudge
